# General files to keep out of the repo
*~
*.bak
*.swp
*.log
*.map
*.tmp
*.editorconfig
*.bowerrc
*.jshintrc
*_backup
.git
.svn
.cvs
.cache
.idea
.listing
.project
.settings
.htaccess
.DS_Store
Thumbs.db
_wpeprivate
node_modules
bower_components
composer.lock
cache
temp
tmp
zx*
imagecache*
uploads*
gt-cache
ics-importer-cache
wp-config.php
wp-config-sample.php
assets/dist/css/style.css
assets/dist/javascript/global.js
pclzip-*

# WordPress debugging files
log.txt
debug.log

# Found in the root of pod-1009
.a

# Forum software we probably shouldn't support anyway
forum/*

# known large file types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.zip
*.tar
*.tgz
*.gz
*.xml